<!DOCTYPE html>
<head>
  <title>AnimeRecBot</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='crtheme.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='crtheme.jpg') }}" class="bigicon" />
  <p> Hi there, I'm an anime expert supported by OpenAI's chatGPT.</p> 
  <p>I can help you to find the connections between anime Series (or in general any interesting entertainment entities), and tell you why you would love a new show given that you have enjoyed another title.<p>
  <p> Type in the series names in the boxes below, and don't worry about the spelling since I will kinda guess what you are refering to.<p>
  <p> Currently I'm calling OPENAI's gpt-4 API, which is quiet slow (response time ~ 30 to 45 seconds, comparing with the text-davinci-003 with 1-2 seconds response time), but the wait is worth it so sit back and relax for a good narrative to pop up soon.<p>

  <form action="/" method="post">
    <input type="text" name="past_title" placeholder="Title you loved" required />
    <input type="text" name="future_title" placeholder="Title you want to try" required />
    <input type="submit" value="Tell me why" />
  </form>
  <br>
  <div class="movie-image">
    <img src="{{ past_title_image_url }}">
    <img src="{{ future_title_image_url }}">
  </div>
  {% if result_v3 %}
  <h3> GPT-3 Narrative </h3>
  <div class="result">
    <pre style="white-space: pre-wrap;">{{ result_v3 }}</pre>
  </div>
  {% endif %}
  {% if result %}
  <h3> GPT-4 Narrative </h3>
  <div class="result">
    <pre style="white-space: pre-wrap;">{{ result }}</pre>
  </div>
  {% endif %}
</body>
